<head>
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="./styles.css" />
    <link rel="stylesheet" type="text/css" href="../styles.css" />

    <link rel="apple-touch-icon" href="./apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" href="./apple-touch-icon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <script>
        // Mobile Safari in standalone mode
        if (('standalone' in window.navigator) && window.navigator.standalone) {

            window.addEventListener('load', function () {

                var links = document.links,
                    link,
                    i;

                for (i = 0; i < links.length; i++) {
                    // Don't do this for javascript: links
                    if (~(link = links[i]).href.toLowerCase().indexOf('javascript')) {
                        link.addEventListener('click', function (event) {
                            top.location.href = this.href;
                            event.returnValue = false;
                        }, false);
                    }
                }
            }, false);
        }
    </script>
</head>