<head>
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="./main.css" />
    <link rel="stylesheet" type="text/css" href="../main.css" />

    <link rel="apple-touch-icon" href="./apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" href="./apple-touch-icon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <script>
        var eventHandler = function (event) {
            // Only run for iOS full screen apps
            if (('standalone' in window.navigator) && window.navigator.standalone) {
                // Only run if link is an anchor and points to the current page
                if (event.target.tagName.toLowerCase() !== 'a' || event.target.hostname !== window.location.hostname || event.target.pathname !== window.location.pathname || !/#/.test(event.target.href)) return;

                // Open link in same tab
                event.preventDefault();
                window.location = event.target.href;
            }
        }
        window.addEventListener('click', eventHandler, false);
    </script>
</head>